<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Usin to create folder or files</h1>
    <p><%=2+2%></p>
   <form >
    <input type="text" name="filename" placeholder="Filename">
    <input type="text" name="filedata" placeholder="Filedata">
    <input type="submit">
   </form>


    <form>
        <input type="text" name="createfolder" placeholder="CreateFolder">
        <input type="submit">
    </form>

    <form>
        <input type="text" name="deletefolder" placeholder="DeleteFolder">
        <input type="submit">
    </form>

    
</body>
</html>